<a href="https://colab.research.google.com/github/Anshika344/composio/blob/master/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#demo for uploading datasets

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [8]:
print("hello i'm new to py")

hello i'm new to py

In [9]:
print('hello python')

hello python

#print function

In [1]:
print(8)

8

In [2]:
print("hello" + " world")

hello world

In [3]:
print ("hello" + "world")

helloworld

In [4]:
print('heyyyy')

heyyyy

In [5]:
print(9+4)

13

#Basic Data Types


1.   int
2.   flaot
3.   string , str

In [6]:
type(00)

int

In [7]:
type(8.5)

float

In [9]:
type('hey')

str

#constants and variables

In [10]:
my_name = "Anshika"
print(my_name)

Anshika

In [11]:
my_name = "Tannu"
print(my_name)

Tannu

In [13]:
name1, name2, name3 = "anshika", "tannu", "lolo"
print(name1)
print(name2)
print(name3)

anshika
tannu
lolo

In [16]:
x = y = z = 91
print(x)
print(y)
print(z)

91
91
91

#Input Funcion

In [18]:
number_1 = input("enter the first number: ")
number_2 = input("enter the second number: ")

sum = number_1 + number_2
print(sum)
# it concatenate the number assuming it as a str as type is not defined

enter the first number: 89
enter the second number: 89
8989

In [19]:
number_1 = int(input("enter the first number: "))
number_2 = int(input("enter the second number: "))
sum = number_1 + number_2
print(sum)
#we have mentioned the data type int that's why it added the number regardless of concatenate it.

enter the first number: 23
enter the second number: 23
46

In [20]:
#changing the data type of input

num = 1
print(float(num))

1.0

In [22]:
str = 'a'
print(int(str))

ValueError: invalid literal for int() with base 10: 'a'

#Integers

In [23]:
a = 1
print(a)

1

In [24]:
type(a)

int

In [25]:
#floating num
b= 3.4
print(b)

3.4

In [26]:
type(b)

float

In [30]:
#complex numbers
c = 4 + 4j
print(c)
type(c)

(4+4j)

complex

conversion of one data type to another

In [31]:
#int  to float
x = 22
print(x)
type(x)

22

int

In [32]:
y = float(x)
print(y)
type(y)

22.0

float

In [33]:
#float to int
i = 33.3
print(i)
type(i)

33.3

float

In [34]:
j = int(i)
print(j)
type(j)

33

int

BOOLEAN

In [39]:
a = True
print(a)
type(a)
 #in boolean true and false is pre defined so it should start with uppercase else it will give an error

True

bool

In [38]:
b = False
print(b)
type(b)

False

bool

In [40]:
a = 5 > 9
print(a)
type(a)

False

bool

In [43]:
b = 8 > 6
print(b)
type(b)

True

bool

string

In [45]:
print("machine learning")
print('machine learning')
#we can use both single and double quotes for simple string

machine learning
machine learning

In [46]:
my_string = "Anshika"
print(my_string)
type(my_string)

Anshika

str

In [47]:
print("Hello " * 5)

Hello Hello Hello Hello Hello

 **slicing**

 means removing

In [48]:
my_string = "education"

In [49]:
print(my_string[1:7]) # index 1 to 7 means from index 1 to 7-1 and it starts with index 0

ducati

In [51]:
print(my_string[0:8:3])

eci

**concatenation**
joining two words

In [53]:
word1 = "Anshika "
word2 = "Gupta"
print(word1 + word2)

Anshika Gupta