<a href="https://colab.research.google.com/github/Anshika344/composio/blob/master/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of object in python


1.   Immutable object - we cannot change the values once assigned.
2.   Mutable object - we can change the values once created.

Immutable objects
1. int
2. float
3. string
4. bool
5. tuple

Mutable objects
1. list
2. set
3. dictionary

#**List**

In [ ]:
#list should be included in the square brackets
my_list = [2,4,5,8]
print(my_list)
type(my_list)

[2, 4, 5, 8]

list

In [ ]:
#list can contain multiple data types
my_list = [2,3,6.4,'anshika', True]
print(my_list)

[2, 3, 6.4, 'anshika', True]

In [ ]:
#lists are mutable --> changeable
#add element to the list using append
my_list = [1, 4, 6.6, 'anshika', True]
my_list.append(10)
print(my_list)

[1, 4, 6.6, 'anshika', True, 10]

In [ ]:
#print element using their index
my_list = [1, 4, 6.6, 'anshika', True]
print(my_list[0])
print(my_list[2])
print(my_list[4])

1
6.6
True

In [ ]:
#list allows duplicate element
list_1 = [1, 2, 3, 1, 2, 5, 6, 3, 67, 8]
print(list_1)

[1, 2, 3, 1, 2, 5, 6, 3, 67, 8]

In [ ]:
#for counting length of list or total nos of elements in list
print(len(list_1))

10

In [ ]:
#initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
#join the two lists (concatenation)
list_1 = [4, 5, 6]
list_2 = [1, 5, 7]
list_3 = list_1 + list_2
print(list_3)

[4, 5, 6, 1, 5, 7]

In [ ]:
#deleting an element
print(list_3)
del list_3[3]
print(list_3)

[4, 5, 6, 1, 5, 7]
[4, 5, 6, 5, 7]

# **Tuples**

In [ ]:
tuple_1= (7, 4 , 3 , 2)
print(tuple_1)
type(tuple_1)

(7, 4, 3, 2)

tuple

In [ ]:
#tuple allows multiple datasets
tuple_2 = (2, 4.5 , 56 , 'ash', False)
print(tuple_2)

(2, 4.5, 56, 'ash', False)

In [ ]:
#converting a list into tuple
my_list =[2,3,4.5,'ash', 8]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple) # we can see the difference between brackets

[2, 3, 4.5, 'ash', 8]
(2, 3, 4.5, 'ash', 8)

In [ ]:
# tuples are immutable --> no changeable
my_tuple = (1,2,3,4,5)
my_tuple.append[7]
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(len(my_tuple))

5

# **Set**
curly braces

In [ ]:
my_set = {2,4,5,6,7}
print(my_set)
type(my_set)

{2, 4, 5, 6, 7}

set

In [22]:
#set doesnot involve indexing
my_set ={ 2, 4, 5, 6, 7}
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [24]:
#converting list into set
my_list = [2, 4, 5, 6]
print(my_list)
x = set(my_list)
print(x)

[2, 4, 5, 6]
{2, 4, 5, 6}

In [25]:
# set doesnot allow duplicate
my_set = {2, 4, 5, 6, 2, 4}
print(my_set)

{2, 4, 5, 6}

#**Dictionary**

 key value pairs

In [29]:
my_dictionary ={'name':'ash', 'age': 20 , 'city':'patna', 'roll no':15}
print(my_dictionary)
type(my_dictionary)

{'name': 'ash', 'age': 20, 'city': 'patna', 'roll no': 15}

dict

In [31]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['city'])
print(my_dictionary['roll no'])

ash
20
patna
15

In [32]:
#dictionaries does not allow duplicate
my_dictionary ={'name':'ash', 'age': 20 , 'city':'patna', 'roll no':15 , 'name':'ash'}
print(my_dictionary)

{'name': 'ash', 'age': 20, 'city': 'patna', 'roll no': 15}